*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background: linear-gradient(to left, skyblue, violet);
  }
  
  .calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid blueviolet;
    outline: none;
    background-color: lightcyan;
  }

  .calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, .8);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: darkorchid;
  color: white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: white;
  font-size: 25px;
}

.output.current-operand{
    color:white;
    font-size: 25px;
}